{{#each uploads}}
<div class="col-xs-2">
  <div class="thumbnail">
    <img src={{this.location}}>
    <div class="caption">
      <h5>{{this.title}}</h5>
      <p>{{this.description}}</p>
    </div>
  </div>
  </div>
{{/each}}
