{{#each uploads}}
<div class="col-xs-2">
  <div class="thumbnail">
    <img src={{this.location}}>
    <div class="caption">
      <h5>{{this.title}}</h5>
      <p>{{this.description}}</p>
      <button type="button"
        class="btn btn-danger delete" id="{{this._id}}">
        <i class="fa fa-trash-o fa-lg"></i> DELETE
      </button>
      <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
    </div>
  </div>
  </div>
{{/each}}
