$black: #000;
$gray: #a9a9a9;
$green: #0f0;
$white: #fff;

body {
  background-position: center;
  background-size: cover;
  min-width: 1400px;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

header,
footer,
.description,
.signed-in,
.signed-out,
.navbar,
.images-display {
  margin: 0 auto;
}

.description,
.signed-out,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-6 {
  margin-top: 25px;
}

header,
.description {
  // border: 10px solid $gray;
  padding: 5px;
  text-align: center;
}

.signed-out,
.signed-in:not(.this-upload-button) {
  box-shadow: 5px 5px 0 0 $black,
              5px 5px 0 0 $black;
  height: 50px;
  width: 200px;
}

.navbar {
  width: 15%;
}

header {
  margin-top: 10px;
  position: relative;
  width: 50%;

  .signed-in:not(.this-upload-button) {
    font-size: 10px;
    height: 25px;
    text-align: center;
    width: 150px;
  }

  .nav-pills {
    margin-bottom: 5px;
    width: 315px;
  }
}

.description {
  width: 60%;
}


.nav-pills {
  float: right;
  height: 25px;
  width: 75px;
}

.col-xs-1,
.col-xs-3,
.col-xs-6 {
  height: 50px;
}

.col-xs-2 {
  height: 260px;
  margin-left: 50px;
  margin-top: 75px;
  width: 175px;
}

.col-xs-2:nth-child(4) {
  clear: both;
  margin-left: 165px;
}

.row {
  margin: 0 auto;
  padding-left: 100px;
  width: 950px;
}

footer {
  height: 60px;
  margin-top: 15px;
  width: 350px;
}

.images-display {
  height: 500px;
  margin-top: 50px;
}

.nav > li > a {
  display: auto;
  padding: 0;
}
