$black: #000;
$gray: #a9a9a9;
$green: #0f0;
$white: #fff;

.clearfix::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

header,
footer,
.description,
.signed-out,
.signed-in:not(.upload-button),
.navbar,
.images-display {
  margin: 0 auto;
}

.description,
.navbar .signed-out,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-6 {
  margin-top: 25px;
}

header,
.description {
  border: 10px solid $gray;
  padding: 5px;
  text-align: center;
}

.signed-out,
.signed-in,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-6,
.upload-view-button {
  border: 1px solid $black;
}

.signed-out,
.signed-in {
  box-shadow: 5px 5px 0 0 $black,
              5px 5px 0 0 $black;
  height: 50px;
  width: 200px;
}

header .signed-in {
  font-size: 10px;
  height: 25px;
  text-align: center;
  width: 150px;
}

header .nav-pills {
  margin-bottom: 5px;
  width: 315px;
}


header {
  margin-top: 50px;
  position: relative;
  width: 70%;
}

.description {
  width: 60%;
}

.navbar {
  width: 15%;
}

.nav-pills {
  float: right;
  height: 25px;
  width: 75px;
}

.col-xs-1,
.col-xs-3,
.col-xs-6 {
  height: 50px;
}

.col-xs-2 {
  height: 260px;
  margin-left: 50px;
  width: 175px;
}

.col-xs-2:nth-child(4) {
  clear: both;
  margin-left: 165px;
}

.row {
  margin: 0 auto;
  padding-left: 100px;
  width: 950px;
}

footer {
  height: 60px;
  margin-top: 15px;
  width: 350px;
}

.images-display {
  height: 500px;
}
