$black: #000;
$gray: #a9a9a9;

.clearfix::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

header {
  border: 10px solid $gray;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 70%;
}

.description {
  border: 10px solid $gray;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px;
  text-align: center;
  width: 60%;
}

.signed-out,
.signed-in {
  border: 1px solid $black;
  box-shadow:
    5px 5px 0 0 $black,
    5px 5px 0 0 $black;
  height: 50px;
  width: 200px;
}

.navbar {
  margin: 0 auto;
  margin-top: 25px;
  width: 15%;
}

.nav-pills {
  float: right;
}

.upload-view {
  border: 1px solid $black;
  height: 475px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 35px;
  text-align: center;
  width: 50%;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-6 {
  border: 1px solid $black;
  height: 50px;
  margin-top: 25px;
}

footer {
  height: 60px;
  margin: 0 auto;
  margin-top: 15px;
  width: 350px;
}

.upload-view-button {
  border: 1px solid $black;
  border: 1px solid $black;
  box-shadow:
    5px 5px 0 0 $black,
    5px 5px 0 0 $black;
  height: 50px;
  margin-right: 20px;
  width: 150px;
}

.fa-arrow-down {
  background-color: green;
  border-radius: 50px;
  color: white;

  padding: 5px;
}

.images-display {
  border: 1px solid $black;
  height: 500px;
  margin: 0 auto;
}

.thumbnail-top{
  border: 1px solid $black;
  float: left;
  height: 200px;
  margin: 0 auto;
  margin-right: 150px;
  width: 200px;
}

.thumbnail-bottom{
  border: 1px solid $black;
  height: 200px;
  margin: 0 auto;
  margin-right: 200px;
  width: 200px;
}
