@import url('https://fonts.googleapis.com/css?family=Wendy+One');

$wendy: 'Wendy One', sans-serif;

$canary-yellow: #fff63b;

// gives a transparent white
@function white($opacity) {
  @return rgba(255, 255, 255, $opacity)
};


// gives a transparent black
@function black($opacity) {
  @return rgba(0, 0, 0, $opacity)
};

@mixin text-shadow($opacity) {
  text-shadow: black($opacity) 0 1px 0;
}

@mixin bold-text-shadow($opacity) {
  text-shadow: black($opacity) 2px 3px 0;
}


body {
  background: url('../../imgs/beach.jpg') 1800px;
}

header,
.description {
  font-family: $wendy;
  color: $canary-yellow;
}

h1 {
  @include bold-text-shadow(100%);
  font-size: 4em;
}
